# macOS
.DS_Store
/.history

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
DerivedData/
xcuserdata/
**/.xcode.env.local

# Android / IntelliJ / Kotlin
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Metro (React Native)
*.jsbundle
.metro-health-check*

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# CocoaPods / Ruby
**/Pods/
vendor/bundle/

# Test coverage
coverage/

# Yarn (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
